* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

input {
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 2px solid black;
}

#operation-text {
  font-size: 1.5rem;
}

#operation {
  font-size: 1.5rem;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

#submit {
  color: #ffffff;
  background-color: #0ac0b7;
  border: 2px solid #0ac0b7;
  font-size: 1.7rem;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#submit:hover {
  color: #0ac0b7;
  background-color: #ffffff;
  border: 2px solid #0ac0b7;
  box-shadow: -15px 15px 20px rgba(18, 219, 255, 0.4);
  transform: translateX(7px);
}

p {
  font-size: 2.5rem;
}
